= form_for [@page, @block, @layer], html: {class: 'form-horizontal'} do |f|
  %fieldset
    %legend= caption

    - if @layer.errors.any?
      #error_explanation
        %h2= "#{pluralize(@layer.errors.count, "error")} prohibited this layer from being saved:"
        %ul
          - @layer.errors.full_messages.each do |msg|
            %li= msg

  %fieldset
    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, autofocus: true
        %span.help-inline The internal name of this layer.

    .control-group
      = f.label :text, class: 'control-label'
      .controls
        = f.text_field :text

    .control-group
      = f.label :font_size, class: 'control-label'
      .controls
        .input-append
          = f.text_field :font_size
          %span.add-on em

    .control-group
      = f.label :color, class: 'control-label'
      .controls
        .input-prepend
          %span.add-on #
          = f.text_field :color

  = render partial: 'flms/layers/keyframe_fields', locals: { form_block: f }

  .control-group
    .controls
      .actions
        = f.submit class: 'btn btn-primary'
        &nbsp; &nbsp; &nbsp;
        = link_to 'Cancel', page_block_path(@page, @block)
