= form_for @block, html: {class: 'form-horizontal'} do |f|
  %fieldset
    %legend= caption

    - if @block.errors.any?
      #error_explanation
        %h2= "#{pluralize(@block.errors.count, "error")} prohibited this block from being saved:"
        %ul
          - @block.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, autofocus: true
        %span.help-inline The internal name of this block. (Must be a valid CSS name.)

    .control-group
      = f.label :title, class: 'control-label'
      .controls
        = f.text_field :title
        %span.help-inline The 'pretty' title of the block used externally.

    .control-group
      = f.label :thumbnail, class: 'control-label'
      .controls
        = f.file_field :thumbnail
        - if @block.thumbnail?
          .image-preview
            = image_tag @block.thumbnail.small.url
            %br
            = @block.thumbnail_uploaded_filename

    .control-group
      .controls
        .actions
          = f.submit class: 'btn btn-primary'
          &nbsp; &nbsp; &nbsp;
          = link_to 'Back', blocks_path(@page)
