%br
%h4 Blocks

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Thumbnail
      %th Name
      %th Actions

  %tbody.block_list
    - @blocks.each do |block|
      %tr.ui-state-default{'data-block-id' => block.id}

        %th.thumb
          - if block.thumbnail?
            = image_tag block.thumbnail.thumb.url

        %td.name
          = block.name

        %td.action
          = link_to edit_block_path(block), class: 'btn', id: "edit-block-#{block.id}", title: 'edit' do
            %i.icon-pencil

          = link_to block_path(block), class: 'btn', id: "show-block-#{block.id}", title: 'preview' do
            %i.icon-eye-open

          = link_to block_path(block), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', id: "delete-block-#{block.id}", title: 'delete' do
            %i.icon-trash

%br

= link_to new_block_path, class: 'btn btn-success' do
  %i.icon-plus.icon-white
  New Block

%button#save.btn.btn-primary
  %i.icon-hdd.icon-white
  Save
