- content_for :js do
  :javascript
    $(function() {
      new BlocksIndexPage();
    });

%br
%h4 Blocks on page '#{@page.url}'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th

  %tbody.blocks
    - @blocks.each do |block|
      %tr.ui-state-default

        %td.action
          .switch.switch-mini
            %input{type: 'checkbox'}

        %td.name
          = link_to block.name, page_block_path(@page, block)

        %td.action
          = link_to edit_page_block_path(@page, block), class: 'btn', title: 'edit' do
            %i.icon-pencil

        %td.action
          = link_to page_block_path(@page, block), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn', title: 'delete' do
            %i.icon-trash

%br

= link_to new_page_block_path(@page), class: 'btn btn-success' do
  %i.icon-plus.icon-white
  New Block


