!!! 5
%html{lang: 'en'}
  %head
    %title #{Flms.application_name} administration
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag 'flms/admin', media: 'all'
    = csrf_meta_tags

  %body{class: "#{params[:controller].sub('/', ' ')} #{params[:action]}"}
    - unless notice.blank?
      %p.flash.notice= notice
    - unless alert.blank?
      %p.flash.alert= alert

    .container-narrow

      .masthead
        %ul.nav.nav-pills.pull-right
          - clazz = nav_active_class('flms/dashboard')
          %li{class: clazz}
            %a{href: "/flms"}
              %d.icon-home
              Home
          - clazz = nav_active_class('flms/pages')
          %li{class: clazz}
            %a{href: "/flms/pages"}
              %i.icon-book
              Pages
          - clazz = nav_active_class('flms/blocks')
          %li{class: clazz}
            %a{href: "/flms/blocks"}
              %i.icon-th-large
              Blocks
          - clazz = nav_active_class('flms/users')
          %li{class: clazz}
            %a{href: "/flms/users"}
              %i.icon-user
              Users
        %h3.muted #{Flms.application_name} administration
      -#%hr

      = yield

      = javascript_include_tag 'flms/admin'
      = yield :js
