!!! 5
%html{lang: 'en'}
  %head
    %title #{Flms.application_name} administration
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    'flms/flms', media: 'all'
    = csrf_meta_tags

  %body{class: "#{params[:controller].sub('/', ' ')} #{params[:action]}"}
    - unless notice.blank?
      %p.flash.notice= notice
    - unless alert.blank?
      %p.flash.alert= alert

    .container-narrow

      .masthead
        %ul.nav.nav-pills.pull-right
          - clazz = params[:controller] == 'flms/dashboard' ? 'active' : ''
          %li{class: clazz}
            %a{href: "/flms"} Home
          - clazz = ['flms/pages', 'flms/blocks'].include?(params[:controller]) ? 'active' : ''
          %li{class: clazz}
            %a{href: "/flms/pages"} Pages
          - clazz = params[:controller] == 'flms/users' ? 'active' : ''
          %li{class: clazz}
            %a{href: "/flms/users"} Users
        %h3.muted #{Flms.application_name} administration
      -#%hr

      = yield

      = javascript_include_tag 'flms/flms'
      = yield :js
