-# provides attribute fields common to all layers
-# local: form_block
%fieldset
  %legend
    Name and Size
  .control-group
    = form_block.label :name, class: 'control-label'
    .controls
      = form_block.text_field :name, autofocus: true
      %span.help-inline (must be valid CSS ID)

  .control-group
    = form_block.label :width, class: 'control-label'
    .controls
      .input-append
        = form_block.text_field :width_percent
        %span.add-on &#37;

  .control-group
    = form_block.label :height, class: 'control-label'
    .controls
      .input-append
        = form_block.text_field :height_percent
        %span.add-on &#37;

  .control-group
    = form_block.label :z_index, class: 'control-label'
    .controls
      = form_block.text_field :z_index

  .control-group
    = form_block.label :dom_remove, 'Hide at end', class: 'control-label'
    .controls
      = form_block.check_box :dom_remove
      %span.help-inline If selected, removes layer from view at end of scroll.

  .control-group
    = form_block.label :active, 'Active', class: 'control-label'
    .controls
      = form_block.check_box :active

