%br
%h4 All pages

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Title
      %th Action

  %tbody
    - @pages.each do |page|
      %tr
        %td= page.title
        %td
          = link_to 'edit', edit_page_path(page), class: 'btn'
          = link_to 'preview', page_path(page), class: 'btn'
          = link_to 'delete', page_path(page), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Page', new_page_path, class: 'btn btn-success'

