- content_for :title do
  = "#{ Flms.application_name } | #{ @page.title }"

#pagescroller
  #page
    - @page.blocks_to_display_with_offsets.each do |item|
      = render partial: 'block', locals: { block: item[:block], scroll_offset: item[:scroll_offset] }

= javascript_include_tag 'application.js'
:javascript
  $(document).ready(function(){
    skrollr.init()
  });
